.navigation{
			background-color:cornsilk;
			font-size: 150%;
}

#exp{
	clear: both;
}

#img{
	margin-right: 100px;
	transition: all 1s;
}

#img:hover{
	transform: scale(1.1);
}

.bgC{
	background-color: white;
}

#end{ 
	text-align: center;
	background-color: beige;
	font-size: 150%;

}

@media (max-width: 300px){
	div {
		clear: both;
	}
}

