.navigation{
			background-color:navajowhite;
			font-size: 150%;
}

#exp{
	clear: both;
}

#img{
	margin-right: 100px;
}

.bgC{
	background-color: cornsilk;
}

#end{ 
	text-align: center;
	background-color: beige;
	font-size: 150%;

}
