.navigation{
			background-color:navajowhite;
			font-size: 150%;
}


#exp{
	clear: both;
}
.bgC{
	background-color: cornsilk;
}

#end{ 
	text-align: center;
	background-color: beige;
	font-size: 150%;

}
